/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
#map { min-height: 360px; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  padding-top: 10px;
  color: #ffffff;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #101010;
}

#broker{
  width:50px !important;
  height:50px !important;
  margin-left: 100px;
}

#details{
  margin-top: 20px;
}

#complex .form-group {
  margin-right: 5px;
}

#login .form-group, #register .form-group{
      height: 34px;
      line-height: 1.42857143;
      margin-bottom: 27px;
}

#login input, #register input{
  height: 34px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group button{
  margin-top: 15px;
}
.error{
  color: #a94442;
}

.valid{
  color:#3c763d;
}

.btn{
  min-width: 120px;
}


#login, #register{
  padding-top: 20px;
  padding-left: 20px;
}
#tabs{
  padding-top: 20px;
}

#advanceSearch input{
  margin-bottom: 20px;
  border-radius: 5px;
}

.carousel-inner{
    height: 300px;
}

.carousel{
    padding: 0 !important;
}
.item, img{
    height: 100% !important;
    width:  100% !important;
}