{% extends "base.html" %}

{% block content %}

<div id="tabs" class="container">
  <ul class="nav nav-tabs nav-justified">
  {% block active %}
    <li class="active"><a data-toggle="tab" href="#simple">Search</a></li>
    <li><a data-toggle="tab" href="#complex">Advanced search</a></li>
  {% endblock %}
  </ul>

  <div class="tab-content">
    {% block simple %}
    <div id="simple" class="tab-pane fade in active">
    {% endblock %}
        <form id="simpleForm" action="/search" method="get" role="form">
          <div class="row" style="font-size:11px;">
            <div class="col-lg-12">
              <div class="alert alert-info" style="padding:5px" role="alert">
              <span class="glyphicon glyphicon-info-sign"></span> You may type multiple words separated with space and get all the listings that much at least one word!</div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <input value="{{ query }}" name="query" type="text" class="form-control" placeholder='Town, street or zipcode'>
                <span class="input-group-btn">
                  <button class="btn btn-success" type="submit">Search</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </form>
      </div>
    {% block complex %}
    <div id="complex" class="tab-pane fade">
    {% endblock %}
        <form class="form-horizontal" id="complexForm" action="/search/advanced" method="get" role="form">
          <div class="form-group col-md-6 col-sm-12">
            <label class="control-label" for="town">Town:</label>
            <input value="{{town}}" name="town" type="text" class="form-control" id="town">
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label class="control-label" for="rooms">Rooms:</label>
            <input value="{{rooms}}" name="rooms" type="text" class="form-control" id="rooms">
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label class="control-label" for="street">Street:</label>
            <input value="{{street}}" name="street" type="text" class="form-control" id="street">
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label class="control-label" for="floor">Floor:</label>
            <input value="{{floor}}" name="floor" type="text" class="form-control" id="floor">
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label class="control-label" for="zipcode">Zipcode:</label>
            <input value="{{zipcode}}" name="zipcode" type="text" class="form-control" id="zipcode">
          </div>
          <div class="form-group col-md-6 col-sm-12">
            <label class="control-label" for="year">Year:</label>
            <input value="{{year}}" name="year" type="text" class="form-control" id="year">
          </div>
          <div class="form-group col-md-6">
              <button class="btn btn-lg btn-success">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if results %}
    <div class="row" style="padding:30px">Found <strong>{{ total }}</strong> results: </div>
    {% for result in results %}
      <a href="/property/{{ result.pk }}">
        <div class="col col-xs-12 col-md-3">
          <div class="thumbnail">
            <img src="{{result.photo}}">
            <div class="caption">
              <div>
                {{ result.address1 }} {{ result.address2 }}
              </div>
              <div>
                {{ result.area }} m², {{ result.rooms }} rooms
              </div>
              <div>
                <h3>{{ result.price }} DKK</h3>
              </div>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
    <div class="row">
      <div class="col col-md-12"></div>
    </div>
    <div class="row text-center">
      <div class="pagination">
        <span class="step-links">
          {% if results.has_previous %}
            {% if method and method == 'simple' %}
              <a href="?query={{ query }}&page={{ results.previous_page_number }}">previous</a>
            {% endif %}
            {% if method and method == 'advanced' %}
              <a href="?town={{ town }}&street={{ street }}&zipcode={{zipcode}}&floor={{floor}}&year={{year}}&room={{room}}&page={{ results.previous_page_number }}">previous</a>
            {% endif %}
          {% endif %}

          <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}
          </span>

          {% if results.has_next %}
            {% if method and method == 'simple' %}
              <a href="?query={{ query }}&page={{ results.next_page_number }}">next</a>
            {% endif %}
            {% if method and method == 'advanced' %}
              <a href="?town={{ town }}&street={{ street }}&zipcode={{zipcode}}&floor={{floor}}&year={{year}}&room={{room}}&page={{ results.next_page_number }}">next</a>
            {% endif %}
          {% endif %}
        </span>
      </div>
    </div>
  {% endif %}
{% endblock %}